
.h1 {
    background-color: red;
}
.form-control{
    background-color:#47a5d1ad;
    border-color: transparent;
}

.btn{
    color: black;
    border-color: rgba(0, 0, 0, 0.507);
    
}
a.nav-link {
  pointer-events: auto !important;
  cursor: pointer !important;
}
.btn-form {
    color: black;
    border:none;
    text-decoration: none;
    background-color: none;
 font-size: 1.3rem;
  padding: 1rem 2rem;
}