<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark retro-navbar">
  <div class="container-fluid">
    <a class="navbar-brand retro-brand" (click)="navigateTo('/disks')">
      <span class="vinyl-icon">⚫</span>
      DiskHub
      <span class="retro-badge">70s</span>
    </a>
    <button class="navbar-toggler retro-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link retro-link" (click)="navigateTo('/disks')">
            <span class="link-icon">🎵</span> Discos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link retro-link" (click)="navigateTo('/form')">
            <span class="link-icon">✉️</span> Regístrate
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container retro-container">
  <router-outlet></router-outlet>
</div>
