<h1>Discos</h1>
<button (click)="toggleView($event)" class="btn btn-secondary btn-lg mt-5">
    {{ mostrar ? 'Ocultar discos' : 'Mostrar discos' }}
</button>
<main>
    @if (mostrar) {
    <ul id="list-disk" class="list-group mt-5">
        @for (disk of disks; track disk.title) {
        <li class="list-group-item">
            <h2>{{ disk.title }}</h2>
            <p>Artista: {{ disk.artist }}</p>
            <p>Año: {{ disk.year }}</p>
            <p>Descripción: {{ disk.description }}</p>
            <img [src]="disk.image" alt="{{ disk.title }}" width="200">
            <hr>
        </li>
        }@empty{
        <p>No hay discos para mostrar.</p>
        }
    </ul>

    }
    

</main>